/* DEBUGG - start rules*/
/* debug {}
  .debug .container {
    background-color: #16D893;
    border: 1px solid blue;
  }
  .debug [class*="col-"] {
    background-color: yellow;
    border: 1px solid red;
    height: 100px;
  } */
/* DEBUGG - end rules */


/* GENERAL RULES (reset) - start */
general-rules {}
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Quicksand', verdana, sans-serif;
    color: white;
    font-weight: bold;
  }

  .ms_app-wrapper {
    /* background-color: lightgreen; */
    height: 100vh;
    width: 100%;
    min-width: 500px;
  }

  img {
    width: 100%;
  }

  ul {
      padding-left: 0;
    }
    ul li {
      /* display: inline-block; */
      list-style: none;
    }
    ul li a {
      text-decoration: none;
    }
/* GENERAL RULES (reset) - end */


/* CLASS PROPERTIES - start rules */
class_properties {}
  /* .ms_float {
    float: left;
  } */
  .ms_clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
  .ms_transform {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
/* CLASS PROPERTIES - end rules */


/* COMPONENTS (reusable) - start rules */
components {}
  components
/* COMPONENTS (reusable) - end rules */

/* NAVBAR - start rules */
nav {}
  nav {}
/* NAVBAR - end rules */


/* HEADER - start rules */
header {}
  header {}
/* HEADER - end rules */


/* MAIN - start rules */
main {}
  main {
    background-color: lightcoral;
    width: 100%;
    height: calc(100% - 100px) /* h footer 100px */
  }

  /* Sidebar section */
  main .ms_sidebar {}
    .ms_sidebar {
      background-color: darkgray;
      height: 100%;
      width: 300px;
      float: left;
      overflow: hidden;
    }
    .ms_sidebar .ms_logo--big img {
      width: 60%;
    }
    .ms_sidebar__element-container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
    }
    .ms_menu__menu-sidebar,
    .ms_menu__menu-sidebar__menu-utente {
      padding: 15px;
      overflow: hidden;
      flex-shrink: 0;
    }
    .ms_menu__menu-sidebar__playlist-container {
      padding: 15px;
      overflow-y: auto;
    }
    .ms_menu__menu-sidebar__playlist-container li {
      list-style: none;
    }
    .ms_menu__menu-sidebar ul {
        padding-left: 0;
    }
    .ms_menu__menu-sidebar li {
      /* display: inline-block; */
      list-style: none;
    }
    .ms_menu__menu-sidebar .ms_top-menu img {
      width: 25px;
    }
    .ms_menu__menu-sidebar .ms_top-menu a {
      text-decoration: none;
      color: white;
    }

  /* Main-content section */
  main .ms_main-content {}
    .ms_main-content {
      background-color: lightgray;
      width: calc(100% - 300px);
      height: 100%;
      padding: 20px;
      padding-top: 110px;
      float: left;
      overflow-y: auto;
    }

    /* Header - topbar */
    .ms_header {
      background-color: rgba(0,0,0,0.5);
      text-align: right;
      position: fixed;
      top: 0;
      right: 0;
      width: calc(100% - 300px);
      height: 70px;
    }

    .ms_header .ms_topbar__btn-cta {
      background-color: black;
      border: 1px solid white;
      border-radius: 30px;
      padding: 10px;
      margin-right: 20px;
      text-transform: uppercase;
      color: white;
    }


  /* Section album covers */
  .ms_section__title {
    margin-bottom: 10px;
  }
  .ms_title {
    font-size: 18px;
  }
  .ms_section {
    border-color: 1px solid red;
    /* width: calc(100% - 300px);
    height: calc(100% - 170px); */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    /* flex-wrap: wrap; */
  }
  .ms_section__box {
    flex-basis: 15%;
  }
  .ms_section__cover img {
    width: 60%;
  }
  .ms_section_cover a {
    color: #b3b3b3;
    font-size: 0.8rem;
    text-decoration: none;
  }
/* MAIN - end rules */


/* FOOTER - start rules */
footer {}
  footer.ms_player {
    height: 100px;
    width: 100%;
    background-color: black;
  }

/* FOOTER - end rules */


/* MEDIA QUERY -start rules */
@media query {}
  @media all and () {}
  @media all and (max-width: 767px) {}
  @media all and (min-width: 768px) and (max-width: 991px) {}
  @media all and (min-width: 992px) {}
/* MEDIA QUERY -end rules */


/* BOOTSTRAP CLASS - start */
/* bootstrap {}       /*  */
  /* Navbar */
  /* .navbar          /* Creates a navigation bar */
  /* .navbar-collapse /* Collapses the navbar (hidden and replaced with a menu/hamburger icon on mobile phones and small tablets) */ */

  /* List */
  /* .list-group      /* Creates a bordered list group for <li> elements */ */
  /* .list-inline     /* Places all list items on a single line (horizontal menu) */ */
  /* .list-unstyled   /* Removes all default list-style (bullets, left margin, etc.) styling from a <ul> or <ol> list */ */
/* BOOTSTRAP CLASS - end */
