/* DEBUGG - start rules*/
/* debug {}
  .debug .container {
    background-color: #16D893;
    border: 1px solid blue;
  }
  .debug [class*="col-"] {
    background-color: yellow;
    border: 1px solid red;
    height: 100px;
  } */
/* DEBUGG - end rules */



/* GENERAL RULES (reset) - start */
general rules {}
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
  }
  body div, span, ul, a {
    font-family: 'Open Sans', sans-serif;
  }

  img {
    width: 100%;
  }

  ul {
      padding-left: 0;
    }
    ul li {
      /* display: inline-block; */
      list-style: none;
    }
    ul li a {
      text-decoration: none;
    }
/* GENERAL RULES (reset) - end */



/* CLASS PROPERTIES - start rules */
class_properties {}
  /* .float {
    float: left;
  } */
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
  .transform {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .text-bold {
    font-weight: 700;
  }
/* CLASS PROPERTIES - end rules */



/* BASE LAYOUT - inizio */
regole layout {}
  .app-wrapper {
    height: 100vh;
    width: 100%;
    min-width: 500px;
    /* background-color: lightgreen; */
  }
  main {
    width: 100%;
    height: calc(100% - 100px) /* h footer 100px */
    /* background-color: lightcoral; */
  }
  main.sidebar {
    height: 100%;
    width: 300px;
    background-color: darkgray;
  }
  main.main-content {
    height: 100%;
    width: calc(100% - 300px);
    background-color: lightgray;
  }
  main.header {
    height: 70px;
    width: calc(100% - 300px);
  }
  footer.player {
    width: 100%;
    height: 100px;
    background-color: black;
  }
/* BASE LAYOUT - fine */



/* COMPONENTS (reusable) - start rules */
components {}
  components
/* COMPONENTS (reusable) - end rules */



/* NAVBAR - start rules */
nav {}
  nav {}
/* NAVBAR - end rules */


/* HEADER - start rules */
header {}
  header {}
/* HEADER - end rules */


/* MAIN - start rules */
main {}
  main {
    background-color: lightcoral;
    width: 100%;
    height: calc(100% - 100px) /* h footer 100px */
  }

  /* SIDEBAR - inizio */
  /* Sidebar section */
  main .sidebar {}
    .sidebar {
      background-color: #040404;
      height: 100%;
      width: 300px;
      padding: 5px 10px 0;
      color: #919496;
      float: left;
      overflow: hidden;
    }
    .sidebar a {
      color: #919496;
    }
    .sidebar a:hover {
      color: white;
    }
    .sidebar .sidebar-item-container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
    }
    .sidebar-item ul {
        padding-left: 0;
    }
    .sidebar-item li {
      /* display: inline-block; */
      list-style: none;
    }
    .sidebar-item,
    .sidebar-item .menu-utente {
      padding: 15px;
      overflow: hidden;
      flex-shrink: 0;
    }

    /* Logo */
    .sidebar .logo {
      padding-bottom: 10px;
    }
    .sidebar .logo img {
      width: 90%;
    }

    /* Top menu */
    .sidebar-item .top-menu img {
      width: 25px;
    }
    .sidebar-item .top-menu a {
      text-decoration: none;
    }
    .sidebar-item .top-menu li:first-child a {
      color: white;
    }
    .sidebar-item .top-menu li:first-child {
      border-left: 2px solid lime;
    }

    /* Menu Playlist */
    .menu-sidebar.playlist-container {
      padding-top: 20px;
      padding: 15px;
      overflow-y: auto;
    }
    .menu-sidebar .add-playlist {
      padding: 5px 0;
    }
    .menu-sidebar a.playlist-title {
      text-decoration: none;
    }
    .menu-sidebar .add-playlist span {
      font-size: 20px;
    }
    .bottom-menu--item>li:first-child {
      margin-top: 10px;
    }
    .bottom-menu--item>li:not(:first-child) {
      margin-top: 5px;
    }
    .menu-sidebar.playlist-container li {
      list-style: none;
    }
    .menu-sidebar.playlist-container i {
      font-size: 35px;
    }
    .menu-sidebar.playlist-container a {
      font-size: 15px;
    }

    /* Menu utente */
    .menu-sidebar.menu-utente {
      padding: 15px;
      font-size: 16px;
    }
    hr {
      margin: 10px 0;
    }
    .menu-sidebar.menu-utente .avatar i {
      font-size: 35px;
    }
    .menu-sidebar.menu-utente .avatar span {
      font-size: 18px;
      font-weight: bold;
    }
  /* SIDEBAR - fine */

  /* MAIN-CONTENT section */
  main .main-content {}
    .main-content {
      background-color: lightgray;
      width: calc(100% - 300px);
      height: 100%;
      padding: 20px;
      padding-top: 110px;
      float: left;
      overflow-y: auto;
    }

    /* HEADER - topbar */
    .header {
      background-color: rgba(0,0,0,0.5);
      text-align: right;
      position: fixed;
      top: 0;
      right: 0;
      width: calc(100% - 300px);
      height: 70px;
    }

    .header .topbar.btn-cta {
      background-color: black;
      border: 1px solid white;
      border-radius: 30px;
      padding: 10px;
      margin-right: 20px;
      text-transform: uppercase;
      color: white;
    }


  /* ALBUM COVERS section */
  .title {
    font-size: 20px;
    margin-top: 0;
  }

  .section-body {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 35px;
  }

  .section-body-item {
    margin-right: 15px;
    margin-bottom: 15px;
    text-align: center;
  }

  .cover-item {
    width: 180px;
    height: 180px;
  }
/* MAIN - end rules */



/* FOOTER - start rules */
footer {}
  footer.player {
    height: 100px;
    width: 100%;
    padding: 5px;
    background-color: #181818;
    display: flex;
    flex-direction: row;
  }

  /* Left-col */
  .bottom-bar.left-col {
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* position: relative;
    left: 0; */
  }

  .bottom-bar .current-song {
    display: flex;
    justify-content: center;
  }

  .bottom-bar .current-song.img {
    width: 50px;
    height: 50px;
    margin-right: 14px;
    display: flex;
    justify-content: center;
    /* position: relative; */
  }
  .bottom-bar.left-col.current-song.details {
    display: flex;
    flex-direction: column;
  }
  .bottom-bar.left-col.current-song.details a {
    text-decoration: none;
  }

  .bottom-bar.left-col.icons {
    font-size: 20px;
    display: flex;
    align-items: center;
  }
  .bottom-bar.left-col.icons a:hover {
    color: white;
  }

/* FOOTER - end rules */



/* MEDIA QUERY -start rules */
@media query {}
  @media all and () {}
  @media all and (max-width: 767px) {}
  @media all and (min-width: 768px) and (max-width: 991px) {}
  @media all and (min-width: 992px) {}
/* MEDIA QUERY -end rules */


/* BOOTSTRAP CLASS - start */
/* bootstrap {}       /*  */
  /* Navbar */
  /* .navbar          /* Creates a navigation bar */
  /* .navbar-collapse /* Collapses the navbar (hidden and replaced with a menu/hamburger icon on mobile phones and small tablets) */ */

  /* List */
  /* .list-group      /* Creates a bordered list group for <li> elements */ */
  /* .list-inline     /* Places all list items on a single line (horizontal menu) */ */
  /* .list-unstyled   /* Removes all default list-style (bullets, left margin, etc.) styling from a <ul> or <ol> list */ */
/* BOOTSTRAP CLASS - end */
