/* GENERAL RULES (reset) - start */
general rules {}
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
  }
  body div, span, ul, a {
    font-family: 'Open Sans', sans-serif;
  }

  img {
    width: 100%;
  }
/* GENERAL RULES (reset) - end */



/* CLASS PROPERTIES - start rules */
class_properties {}
  .float {
    float: left;
  }
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
  .transform {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .text-bold {
    font-weight: 700;
  }
  ul.list-unstyled {
    padding-left: 0;
    }
    ul.list-unstyled li {
      display: inline-block;
      list-style: none;
    }
    ul.list-unstyled li a {
      text-decoration: none;
    }
/* CLASS PROPERTIES - end rules */



/* BASE LAYOUT - inizio */
regole layout {}
  .app-wrapper {
    height: 100vh;
    width: 100%;
    min-width: 500px;
    overflow: hidden;
    /* background-color: lightgreen; */
  }
  main {
    width: 100%;
    height: calc(100% - 100px) /* h footer 100px */
    /* background-color: lightcoral; */
  }
  main.sidebar {
    height: 100%;
    width: 300px;
    background-color: darkgray;
  }
  main.main-content {
    height: 100%;
    width: calc(100% - 300px);
    background-color: lightgray;
  }
  main.header {
    height: 70px;
    width: calc(100% - 300px);
  }
  footer.player {
    width: 100%;
    height: 100px;
    background-color: black;
  }
/* BASE LAYOUT - fine */



/* COMPONENTS (reusable) - start rules */
components {}
  components
/* COMPONENTS (reusable) - end rules */



/* NAVBAR - start rules */
nav {}
  nav {}
/* NAVBAR - end rules */


/* HEADER - start rules */
header {}
  header {}
/* HEADER - end rules */


/* MAIN - start rules */
main {}
  main {
    background-color: lightcoral;
    width: 100%;
    height: calc(100% - 100px) /* h footer 100px */
  }

  /* SIDEBAR - inizio */
  /* Sidebar section */
  main .sidebar {}
    .sidebar {
      background-color: #040404;
      height: 100%;
      width: 300px;
      padding: 5px 10px 0;
      color: #919496;
      float: left;
      overflow: hidden;
    }
    .sidebar img.logo-small {
      width: 200px;
      display: none;
    }
    .sidebar a {
      color: #919496;
    }
    .sidebar a:hover {
      color: white;
    }
    .sidebar .sidebar-item-container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
    }
    .sidebar-item ul {
        padding-left: 0;
    }
    .sidebar-item li {
      list-style: none;
    }
    .sidebar-item,
    .sidebar-item .menu-utente {
      padding: 15px;
      overflow: hidden;
      flex-shrink: 0;
    }

    /* Logo */
    .sidebar .logo {
      padding-bottom: 10px;
    }
    .sidebar .logo img {
      width: 90%;
    }

    /* Top menu */
    .sidebar-item .top-menu img {
      width: 30px;
      padding-right: 5px;
      vertical-align: middle;
    }
    .sidebar-item .top-menu a {
      text-decoration: none;
    }
    .sidebar-item .top-menu li {
      margin-bottom: 10px;
    }
    .sidebar-item .top-menu li:first-child a {
      color: white;
    }
    .sidebar-item .top-menu li:first-child::before {
      content: "";
      display: block;
      margin: 0 auto;
      width: 50%;
      padding-top: 20px;
      border-left: 2px solid lime;
      position: absolute;
      left: 0;
      top: 120px;
    }

    /* Menu Playlist */
    .menu-sidebar.playlist-container {
      padding-top: 20px;
      padding: 15px;
      overflow-y: auto;
    }
    .menu-sidebar.playlist-container a {
      text-decoration: none;
    }
    .menu-sidebar .add-playlist {
      padding: 5px 0;
    }
    .menu-sidebar .bottom-menu--item a {
      text-decoration: none;
    }
    .menu-sidebar .add-playlist span {
      font-size: 15px;
    }
    .bottom-menu--item>li:first-child {
      margin-top: 10px;
    }
    .bottom-menu--item>li:not(:first-child) {
      margin-top: 5px;
    }
    .menu-sidebar.playlist-container li {
      list-style: none;
    }
    .menu-sidebar.playlist-container .add-playlist i {
      font-size: 30px;
    }
    .menu-sidebar.playlist-container a {
      font-size: 13px;
    }
    .bottom-menu .bottom-menu--item i {
      font-size: 15px;
    }

    /* Menu utente */
    .menu-sidebar.menu-utente {
      padding: 15px;
      font-size: 15px;
    }
    hr {
      margin: 5px 0;
    }
    .menu-sidebar.menu-utente .avatar i {
      font-size: 35px;
    }
    .menu-sidebar.menu-utente .avatar span {
      font-size: 15px;
      font-weight: bold;
    }
  /* SIDEBAR - fine */


  /* MAIN-CONTENT section */
  main .main-content {}
    .main-content {
      background-color: black;
      width: calc(100% - 300px);
      height: 100%;
      padding: 20px;
      padding-top: 110px;
      float: left;
      overflow-y: auto;
      color: darkgray;
    }

    /* HEADER */
    /* Topbar */
    .header {
      background-color: rgba(0,0,0,0.5);
      width: calc(100% - 300px);
      height: 70px;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 1;
    }

    .header .topbar.btn-cta {
      background-color: black;
      border: 1px solid white;
      border-radius: 30px;
      padding: 10px 35px;
      margin-right: 20px;
      text-transform: uppercase;
      color: white;
      position: absolute;
      top: 50%;
      left: 80%;
      transform: translate(0%,-50%);
    }
    .header .topbar.btn-cta:hover {
      transform: scale(1.1);
    }

    /* Bottombar */
    .header .bottombar {
      width: 100%;
      background-color: black;
      display: flex;
      justify-content: center;
      margin-top: 70px;
    }
    .header .bottombar ul {
      text-align: center;
      line-height: 30px;
    }
    .header .bottombar ul li {
      text-transform: uppercase;
    }
    .header .bottombar ul li a {
      color: darkgray;
      padding-right: 15px;
    }
    .header .bottombar ul li a:last-child {
      padding-right: none;
    }
    .header .bottombar ul li:first-child::after {
      content: "";
      display: block;
      margin: -23px 18px;
      width: 50%;
      padding-top: 20px;
      border-bottom: 2px solid lime;
    }


  /* ALBUM COVERS section */
  .title {
    font-size: 20px;
    margin-top: 0;
  }

  .section-body {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 35px;
  }

  .section-body-item {
    margin-right: 15px;
    margin-bottom: 15px;
    text-align: center;
  }

  .cover-item {
    width: 180px;
    height: 180px;
    position: relative;
  }

  .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    position: absolute;
    left: 0;
    top: 0;
  }

  .btn-play-wrapper {
    display: none;
  }
  .btn-play-wrapper i {
    font-size: 40px;
    color: white;
 }
  .cover-item:hover .overlay,
  .cover-item:hover .btn-play-wrapper {
    display: block;
  }

  .section-body.popular .cover-item {
    border: 50%;
  }
  .section-body.popular .cover-item img {
    border-radius: 50%;
  }
/* MAIN - end rules */



/* FOOTER - start rules */
footer {}
  footer.player-tool {
    height: 100px;
    width: 100%;
    padding: 5px;
    background-color: #181818;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: white;
  }

  /* Left-col */
  .bottom-bar.col.left-col {
    height: 100%;
    color: darkgray;
    flex-basis: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .wrapper-track {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 35px;
  }
  .track-item img {
    width: 50px;
    height: 50px;
    margin-left: 5px;
  }
  .current-song.details a {
    text-decoration: none;
    padding-right: 90px;
    color: darkgray;
  }
  .icons i {
    font-size: 20px;
    color: darkgray;
  }
  .icons.favorite {
    padding-right: 20px;
  }
  .icons a:hover {
    color: white;
  }


  /* Middle-col */
  .bottom-bar.col.middle-col {
    height: 100%;
    flex-basis: 60%;
    display: flex;
    /* flex-flow: column wrap; */
    justify-content: center;
    flex-direction: column;
  }
  .player {
    margin: 0 auto;
    padding: 15px 0;
    position: relative;
  }
  .player-buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
  }
  .player-buttons i {
    font-size: 20px;
    color: darkgray;
  }
  .player-buttons i:not(:last-child) {
    margin-right: 30px;
  }
  /* .bottom-bar.col.middle-col .player-buttons i:nth-child(3) {
    font-size: 30px;
  } */

  .bottom-bar.col.middle-col .player-bar {
    width: 70%;
    min-width: 500px;
  }

  .player-bar {
    border-bottom: solid 5px gray;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
  }
  .player-bar--darkgray {
    width: 30%;
    border-bottom: 5px solid darkgray;
    position: absolute;
    left: 0;
    top: 55px;
    z-index: 1;
  }
  .player-bar-time-control {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: darkgray;
    position: absolute;
    left: 145px;
    top: 49px;
    display: none;
  }
  .player-bar--darkgray:hover {
    border-bottom: 5px solid lime;
  }
  .player-bar--darkgray:hover .player-bar-time-control {
    display: block;
  }

  .bottom-bar.col.middle-col .player-bar {
    position: relative;
  }
  .bottom-bar.col.middle-col .player-bar .start-time {
    position: absolute;
    left: -38px;
  }
  .bottom-bar.col.middle-col .player-bar .end-time {
    position: absolute;
    left: 511px;
  }

  /* Right-col */
  .bottom-bar.col.right-col {
    height: 100%;
    flex-basis: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
/* FOOTER - end rules */



/* MEDIA QUERY -start rules */
@media query {}
  /* Media Query - xs  */
  @media all and (max-width: 767px) {
    .sidebar {
      max-width: 100px;
    }
    .logo img.logo-big {
      display: none;
    }
    .logo img.logo-small {
      display: block;
      width: 45px;
    }
    .top-menu span,
    .playlist-container,
    .menu-utente span,
    hr {
      display: none;
    }
    main .main-content {
      width: calc(100vw - 100px);
    }
  }

  /* Media Query - sm  */
  @media all and (min-width: 768px) and (max-width: 991px) {
    .icons.favorite,
    .icons.folder {
      display: flex;
      flex-direction: column;
    }
  }
/* MEDIA QUERY -end rules */


/* DEBUGG - start rules*/
/* debug {}
  .debug .container {
    background-color: #16D893;
    border: 1px solid blue;
  }
  .debug [class*="col-"] {
    background-color: yellow;
    border: 1px solid red;
    height: 100px;
  } */
/* DEBUGG - end rules */
